@model List<string> 
@{
    string title = "제목입니다.";
    string content = "내용입니다.";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        string nation = "korea";
        @:asd123
    }
    @switch (nation)
    {
        case "korea":
            <h3>안녕하세요.</h3>
            break;
        case "usa":
            <h3>Hallo.</h3>
            break;
        default:
            <h3>welcome</h3>
            break;
    }
    12dlfdl12
    @@naver.com
    @Model.Count

    <ul>
        @foreach (var data in Model)
        {
            <li>@data</li>
        }
    </ul>

</body>
</html>
